<div class="gallery {{ .Get "class" }}" 
     style="{{ with .Get "height" }}height: {{ . }};{{ end }}
            {{ with .Get "width" }}width: {{ . }};{{ end }}">
    {{ $dir := strings.TrimPrefix "/" (.Get "dir") }}
    {{ range readDir (printf "static/%s" $dir) }}
        {{ if and (not (strings.HasSuffix .Name ".DS_Store")) (ne .Name "thumbnails") }}
            <img src="{{ (printf "%s/%s" $dir .Name) | absURL }}" 
                 alt="{{ .Name }}" 
                 loading="lazy"
                 style="{{ with $.Get "command" }}object-fit: {{ . }};{{ end }}
                        {{ if $.Get "zoomable" }}cursor: zoom-in;{{ end }}">
        {{ end }}
    {{ end }}
</div>